<div id="payment" class="text-left" style="display:none;"></div>
<div class="terms">
  <label {% if not rules.display %} style="display:none;" {% endif %}>{% if text_agree %}
    {{ text_agree }}
    <input type="checkbox" name="agree" value="1" {% if rules.default or not rules.display %} checked="checked" {% endif %}/>
  {% endif %}</label> &nbsp;
  <button type="button" id="button-payment-method" class="btn btn-primary" data-loading-text="{{ text_loading }}" {% if disable_button %}{{ 'disabled' }}{% endif %}>{{ button_continue }}</button>
</div>